*main


 Tokyo: ["JPTYO"],
Dongguan: ["CNDGG"],
AbuDhabi: ["AEAUH"],
Humen: ["CNHMN"],
RasAlKhaimah: ["AERKT"],
Shatian: ["CNSIN"],
Sharjah: ["AESHJ"],
Taiping: ["CNTAP"],
JebelAli: ["AEJEA"],
Fangcheng: ["CNFAN"],
Ajman: ["AEAJM"],
Foshan: ["CNFOC"],
Chittagong: ["BDCGP"],
Sanshan: ["CNSHG"],
Dhaka: ["BDDAC"],
Fuzhou: ["CNFOC"],
Mongla: ["BDMGL"],
Xiamen: ["CNXMN"],
Tughlakabad: ["INTKD"],
Guangzhou: ["CNCAN"],
Dadri: ["INDRI"],
Huangpu: ["CNLIJ"],
Faridabad: ["INFBD"],
Lianhuashan: ["CNLIH"],
Jaipur: ["INJAI"],
Nansha: ["CNNSA"],
Jodhpur: ["INJCD"],
Haikou: ["CNHAK"],
Kanpur: ["INKAN"],
Jiangmen: ["CNJMN"],
Moradabad: ["INMOR"],
Xinhui: ["CNXIN"],
Ludhiana: ["INLUD"],
Shantou: ["CNSWA"],
Patli: ["INGGN"],
Shenzhen: ["CNSHK"],
Shekou: ["CNSHK"],       
Kathuwas: ["INCML"],
DachanBay: ["CNDCB"],
Piyala: ["INPYL"],
Shekou: ["CNSHK"],
Madras: ["INMAA"],
 Chennai: ["INMAA"],       
Yantian: ["CNYTN"],
Kattupalli: ["INKTP"],
Shunde: ["CNSUD"],
Vizag: ["INVTZ"],
Visakhapatnam: ["INVTZ"],  
Beijiao: ["CNYQS"],
Tuticorin: ["INTUT"],
Leliu: ["CNLUU"],
Kolkota: ["INCCU"],
Calcutta: ["INCCU"],  
Rongqi: ["CNROQ"],
Mangalore: ["INIXE"],
Zhanjiang: ["CNZHA"],
Cochin: ["INCOK"],
Zhongshan: ["CNZSN"],
Colombo: ["LKCMB"],
Xiaolan: ["CNXIL"],
Karachi: ["PKKHI"],
Zhuhai: ["CNZUH"],
Muhammad : ["PKBQM"],
 BinQasim: ["PKBQM"],       
Gaolan: ["CNGON"],
Bahrain: ["BHBAH"],
Pusan: ["KRPUS"],
Hyderabad: ["INHYD"],
CatLai: ["VNCLI"],
Ahmedabad: ["INAMD"],
DaNang: ["VNDAD"],
Baroda: ["INVAM"],
Haiphong: ["VNHPH"],
Sanand: ["INSAA"],
HoChiMinh: ["VNSGN"],
Jeddah: ["SAJED"],
CaiMep: ["VNCMP"],
Jubail: ["SAJUB"],
Quinhon: ["VNUIH"],
Riyadh: ["SARUH"],
Macau: ["MOMFM"],
Dammam: ["SADMM"],
Vladivostok: ["RUVVO"],
HongKong: ["HKHKG"],
Kaohsiung: ["TWKHH"],
Keelung: ["TWKEL"],
Taichung: ["TWTXG"],
Taipei: ["TWTPE"],
Taoyuan: ["TWTYN"],
Changshu: ["CNCGU"],
Chongqing: ["CNCKG"],
Nanjing: ["CNNKG"],
Nantong: ["CNNTG"],
Ningbo: ["CNNGB"],
Shanghai: ["CNSHA"],
Wuhan: ["CNWUH"],
Zhangjiagang: ["CNZJG"],
Yantai: ["CNYNT"],
Zhenjiang: ["CNZHE"],
Akita: ["JPAXT"],
Chiba: ["JPCHB"],
Hachinohe: ["JPHHE"],
Hakata: ["JPHKT"],
Hiroshima: ["JPHIJ"],
Hitachinaka: ["JPHIC"],
Hososhima: ["JPHSM"],
Imbari: ["JPIMB"],
Iwakuni: ["JPIWK"],
Iyomishima: ["JPIYM"],
Kawasaki: ["JPKWS"],
Kobe: ["JPUKB"],
Kochi: ["JPKCZ"],
Kushiro: ["JPKUH"],
Matsuyama: ["JPMYJ"],
Mizushima: ["JPMIZ"],
Moji: ["JPMOJ"],
Nagoya: ["JPNGO"],
Naha: ["JPNAH"],
Nakanoseki: ["JPNAN"],
Niigata: ["JPKIJ"],
Oita: ["JPOIT"],
Omaezaki: ["JPOMZ"],
Osaka: ["JPOSA"],
Sakaiminato: ["JPSMN"],
Sendai: ["JPSDJ"],
Shibushi: ["JPSBS"],
Shimizu: ["JPSMZ"],
Shimonoseki: ["JPSHS"],
Takamatsu: ["JPTAK"],
Tomakomai: ["JPTMK"],
ToyamaShinko: ["JPTOS"],
Toyama: ["JPTOS"],
Yokkaichi: ["JPYKK"],
Yokohama: ["JPYOK"],
PasirGudang : ["MYPGU"],
JohoreBahru: ["MYPGU"],        
Penang: ["MYPEN"],
PortKlang: ["MYPKG"],
KualaLumpur: ["MYPKG"],  
PhnomPenh: ["KHPNH"],
Sihanoukville: ["KHKOS"],
Yangon: ["MMRGN"],
CagayanDeOro: ["PHCGY"],
Cebu: ["PHCEB"],
Davao: ["PHDVO"],
GeneralSantos: ["PHGES"],
Manila: ["PHMNL"],
Subic: ["PHSFS"],
Bangkok: ["THBKK"],
LaemChabang: ["THLCH"],
LatKrabang: ["THLKR"],
Songkhla: ["THSGZ"],
Balikpapan: ["IDBPN"],
Batam: ["IDBTM"],
Belawan: ["IDBLW"],
Medan: ["IDBLW"],       
Jakarta: ["IDJKT"],
Makassar: ["IDMAK"],
Padang: ["IDPDG"],
Palembang: ["IDPLM"],
Panjang: ["IDPNJ"],
Pontianak: ["IDPNK"],
Semarang: ["IDSRG"],
Surabaya: ["IDSUB"],
Singapore: ["SGSIN"],

      };
